/* Stylesheet for main menu window */

.root{
    /*-fx-background-image: url("http://3.bp.blogspot.com/-j2u7hhL3OW0/Uop6FvdhrVI/AAAAAAAAA10/9inlhrMUR4w/s1600/AndySpace.jpg"); */
    -fx-background-color: black;
    -fx-background-image: url("/space.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 550 800;
    -fx-background-position: center center;
}

.button {
    -fx-font: 22 copperplate;
    -fx-background-color: transparent;
    -fx-text-fill: orangered;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-font: 22 copperplate;
    -fx-background-color: transparent;
    -fx-text-fill: orangered;
    -fx-border-color: orangered;
}
